.pokemonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokeHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputSearch {
  width: 80%;
  margin: auto;
  display: block;
  background-color: rgb(31, 34, 35);
  border-radius: 8px;
  height: 48px;
  font-size: 18px;
  border-width: inherit;
  border-color: inherit;
  margin-bottom: 10px;
}

.inputSearch:focus-visible {
  outline: rgb(61, 64, 65) auto 1px;
}

.pokeHeader img {
  height: 55px;
  padding-right: 15px;
}

.pokeTitle {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 50px;
  color: #E8E6E3;
}
