<div class="pokeHeader">
  <img src="assets/Pokeball.svg" />
  <h1 class="pokeTitle">Pokédex</h1>
</div>
<div class="pokeSearch">
  <form>
    <input
      class="inputSearch"
      type="text"
      placeholder="Busque um Pokémon"
      (input)="search($event)"
    />
  </form>
</div>
<div class="pokemonList">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <a *ngIf="pokemon.status">
      <div>
        <app-pokemon-card
          [pokemon]="pokemon.name"
          [pokeType]="pokemon.status.types"
          [pokeId]="pokemon.status.id"
          [image]="pokemon.status.sprites.other.dream_world.front_default"
        ></app-pokemon-card>
      </div>
    </a>
  </ng-template>
</div>
