<div class="pokeHeader">
  <img src="assets/Pokeball.svg" />
  <h1 class="pokeTitle">Pokédex</h1>
  <div class="pokeSearch">
    <form>
      <input type="text" placeholder="Busque um Pokémon" />
    </form>
  </div>
</div>
<div class="pokemonList">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <a *ngIf="pokemon.status">
      <div>
        <app-pokemon-card
          [pokemon]="pokemon.name"
          [pokeId]="pokemon.status.id"
          [image]="pokemon.status.sprites.other.dream_world.front_default"
        ></app-pokemon-card>
      </div>
    </a>
  </ng-template>
</div>
<!-- <div *ngFor="let pokemon of pokemons">Pokemon: {{ pokemon }}</div> -->
