.pokemonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokeHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputSearch {
  width: 80%;
  margin: auto;
  display: block;
  background-color: #f2f2f2;
  border-radius: 8px;
  height: 32px;
  border-width: inherit;
  border-color: inherit;
}

.inputSearch:focus-visible {
  outline: rgb(108, 108, 108) auto 1px;;
}

.pokeHeader img {
  height: 55px;
  padding-right: 15px;
}

.pokeTitle {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 50px;
}
